@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&display=swap');

:root {
  --primary: #CE0F69;
  --foreground: #1C1D1D;
  --text: #877277;
  --jost: "Jost", sans-serif;
  --baloo: "Baloo Chettan 2", sans-serif;
}

@theme inline {
  --color-primary: var(--primary);
  --color-text: var(--text);

  --color-foreground: var(--foreground);
  --font-jost: var(--jost);
  --font-baloo: var(--baloo);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}